html {
  font-family: "PT Serif", serif;
  line-height: 1.5;
}

body {
  background-color: #c9b5ab;
  font-weight: normal;
}

nav {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 1.125rem;
}

h1, h2 {
  font-family: "PT Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #8f2440;
}

a:hover {
  text-decoration: underline;
  color: #3f1622;
}

li {
  list-style-type: none;
}
/*   text-decoration
list-style-types
font-family: 'PT Sans', sans-serif
font-family: 'PT Serif', serif */
