body {
  background-color: #c9b5ab;
}

body {
    font-weight: normal;
}

nav {
  font-family: 'PT Sans', sans-serif
}

h1 {
  font-family: 'PT Sans', sans-serif
  text-decoration;
}

h2 {
  font-family: 'PT Sans', sans-serif;
}




line-height
list-style-typeS
font-family: 'PT Sans', sans-serif;
font-family: 'PT Serif', serif;
